.Aboutus > p{
    color: gray;
    text-align: center;
}
.Aboutus > h4{
    color: gray;
    text-align: center;
    margin-bottom: 30px;
}
.Aboutus > h1{
    color: rgb(62, 57, 114);
    text-align: center;
}
.Aboutus {
    margin-top: 30%;
}