.client > p{
    color: gold;
    margin-top: 10%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    font-weight:bolder;

}
.client > h1{
     text-align: center;
     color: white;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.client{
    margin-top: -21vh;
   
    background-color: black;
}
.text-center{
    max-width: 100vw;
    max-height: 40vh;
}
