.Contactus > p{
    color:gray;
    margin-left: 10%;
}
.Contactus > h1{
    color:blue;
     margin-left:10%;
    
}
.Contactus{
    background-color: black;
}
.Contactus > h3{
    color: white;
    margin-left: 10%;



}
.Contactus> h2{
    color: gray;
    margin-left: 10px;
}
.Contactus > h5{
    color: white;
    margin-left: 10%;
}
.Contactus > h4{
    color: gray;
    margin-left: 10%;
}
.Contactus{
    text-align: center;
}