*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Contactus > p{
    color:gold;
    font-size: 200%;
    font-weight: bolder;
 padding-top: 40vh;
    
    text-align: center;
}
.Contactus > h1{
    color:white;
     text-align: center;
    
}
.Contactus{
    background-color: black;
}
.Contactus > h3{
    color: white;
    text-align: center;



}
.Contactus> h2{
    color:  gold;
    text-align: center;
}
.Contactus > h5{
    color: white;
    text-align: center;

}
.Contactus > h4{
    color:  gold;
    text-align: center;
}
.Contactus{
    text-align: center;
}
input{
    padding-right: 8vw;
    padding-bottom: 2vh;
    border-radius: 2.5vw;
    margin-bottom: 1vh;
    color: white;
    background-color: transparent;
    border-color: white;
    
}
button{
    padding-bottom: 2vh;
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 2.5vw;

}
.cp_t1{
    color: gold;
}
form{
    border-color: white;
}