*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Contactus > p{
    color:gold;
    font-size: 200%;
    font-weight: bolder;
    
    text-align: center;
}
.Contactus > h1{
    color:white;
     text-align: center;
    
}
.Contactus{
    background-color: black;
}
.Contactus > h3{
    color: white;
    text-align: center;



}
.Contactus> h2{
    color:  gold;
    text-align: center;
}
.Contactus > h5{
    color: white;
    text-align: center;

}
.Contactus > h4{
    color:  gold;
    text-align: center;
}
.Contactus{
    text-align: center;
}