
.Herosection > video{
    width:100%;
    max-height: 120vh;
    margin-top: 0px;

}
.Herosection > img{
    width: 25%;
    display: flex;
    margin-left: 150px;
    margin-top: -700px;
}
.Herosection > h1{
    color: white;
    font-size: 80px;
    margin-left: 150px;
}
.Herosection > p{
    font-size: 30px;
    color:gold;
    margin-left: 400px;
}