
.Herosection > video{
    width:100%;
    max-height: 120vh;
    margin-top: 0px;

}
.Herosection > img{
    width: 45%;
    display: flex;
    margin-left: 2%;
    margin-top: -58%;
}
.Herosection > h1{
    color: white;
    margin-left: 10%;
}
.Herosection > p{
    color:gold;
    margin-left: 20%;
}
