.Services > p{
    color: gray;
    text-align: center;


}
.Services > h1{
    color: blue;
    text-align: center;

}
.Services > h4{
    color: gray;
    text-align: center;

}
.cards{
    text-align: center;

}