


/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    margin: 3%;
    right: 0;
  
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: gold;
    
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: blue;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: gold;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background:rgb(16, 5, 139);
    padding: 2.5em 1.5em 0;
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: rgb(16, 5, 139);
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: gold;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    color: gold;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
  transition: transform .2s;
  
}

.bm-item:hover {
  color: #ffffff;
  transform: scale(1.2);
}
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }